page-home{
    display: block;

    .background {
        background-image: url('../../assets/imgs/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;

    }
       
    ion-input{
        font-family: Montserrat-italic;
    }
    
    .label {
        background-image: url('../../assets/imgs/texto.png');
        background-size: 90%;
        background-repeat: no-repeat;


        width:95%;
        height:150px;
        margin-top: 5%;
        margin-left: 6%;           
    }
  
    #input{
        position: absolute;
        width: 80%;
        top:55%;
        margin-left: 10%;
              
    }


    .box{
        width: 70%;
        position: absolute;
        left:15%;
        top:360px;

    }
        
    .fonte{
        width: 14%;
        position: absolute;
        top:445px;
        left:4%;

    }

    .menu{
        width: 15%;
        position: absolute;
        top:445px;  
        right: 4%;  
       
    }

    .scroll-content {
        align-content: center;
        display: inline-block;
        justify-content: center;
        text-align: center;
      }

} 