.ion-page {
    display: block;
    //border: solid 1px red;

    .background {
        background-image: url('../../assets/imgs/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 100%;
    }

    ion-content {
        background-color: rgba($color: #000000, $alpha: 0.0);
        max-height: 100%;
        //border: solid 1px red;
    }

    #casca {
        max-height: 100%;
        border: solid 1px rgba($color: #000000, $alpha: 0.0) !important;
    }

    /* Título da página: Concursos */
    .pageTitle {
        //border: solid 1px red;
        width:100%;
        padding: 5%;

        #title-image {
            margin-top: 15%;
        }
    }

    /* Busca */
    .busca {
        //border: solid 1px red;
        width: 80%;
        margin: 20% auto 15% auto;
    
        #grid-busca {
            padding: 0;
            background-color: white;
            border-radius: 5px;
            
            #col-input-cpf {
                ion-input {
                    height: 100%;
                    width: 100%;
                    font-family: Montserrat-italic;
                }
            }
            
            #col-botao-buscar {
                padding: 3px;
    
                #botao-buscar {
                    margin: 0;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    /* Mensagem motivacional */
    #mensagem {
        width: 70%;
        bottom: 15%;
        left: 15%;
        position: absolute;
    }

    #rodape {
        //border: solid 1px red;
        padding: 5%;
        width: 100%;
        position: absolute;
        bottom: 0;

        /* Botão de acessibilidade */
        #botao-acessibilidade {
            //border: solid 1px red;
            height: 100%;
            width: 15%;
            display: inline-block;
        }

        /* Botão de opções */
        #botao-opcoes {
            //border: solid 1px red;
            height: 100%;
            width: 15%;
            float: right;
        }
    }

    @media screen and (max-height: 450px) {

        .pageTitle {
            #title-image {
                margin-top: 0;
            }
        }

        .busca {
            margin-bottom: 0;
        }
        
        #rodape {
            //position: relative;
            display: none;
        }

        #mensagem {
            //position: relative;
            display: none;
        }
    }

}